* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

body {
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  color: #333;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  display: none;
}

button {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button#submit {
  background: #4caf50;
  color: white;
}

button#clear {
  background: #f44336;
  color: white;
}

.item {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #a6f0ff;
}

#buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.low-stock {
  background-color: #ffeaa7 !important;
  border-color: #f39c12 !important;
}

.edit {
  background-color: #3498db;
  color: white;
  margin-left: 10px;
}

.delete {
  background: #e74c3c;
  color: white;
}

.total-center {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #3d7ecd;
}
